﻿@{
}

<div class="container" ng-controller="Users" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["Users"]))">
    <div class="row">
        <div class="input-group col-md-6">
            <input id="filter" type="text" class="form-control" placeholder="Type user name or email" ng-model="filterUser" aria-describedby="searchUser" />
            <span class="input-group-btn">
                <button class="btn btn-default" id="searchUser" ng-click="searchUser()">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <div class="col-md-6 ">
            <button type="button" class="btn btn-primary pull-right" ng-click="createUser()">
                <i class="fa fa-plus"></i> Register User
            </button>
        </div>
    </div>
    
    <div class="row">
        <table ng-table="tableUsers" class="table table-hover table-striped table-condensed" show-filter="true">
            <tr ng-repeat="user in $data">
                <td title="'Name'" sortable="'Name'" ng-click="selectUser($index)">
                    {{user.Name}}
                </td>
                <td title="'Age'" ng-click="selectUser($index)">
                    {{calculateAge(user.DateOfBirth)}}
                </td>
                <td title="'Email'" sortable="'Email'" ng-click="selectUser($index)">
                    {{user.Email}}
                </td>
                <td title="'Phone'" sortable="'Phone'" ng-click="selectUser($index)">
                    {{user.Phone}}
                </td>
                <td title="'Edit'" class="text-center">
                    <button type="button" class="btn btn-default " ng-click="editUser($index)">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
                <td title="'Delete'" class="text-center">
                    <button type="button" class="btn btn-default" ng-click="deleteUser($index)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="row" >
        <table ng-table="tableTransactions" class="table table-hover table-striped table-condensed" show-filter="true">
            <tr ng-repeat="trans in $data">
                <td title="'Book Name'" sortable="'BookName'">
                    {{trans.BookName}}
                </td>
                <td title="'Start Date'" sortable="'StartDate'">
                    {{trans.StartDate}}
                </td>
                <td title="'End Date'" sortable="'EndDate'">
                    {{trans.EndDate}}
                </td>
                <td title="'Delivered'" sortable="'IsDelivered'" >
                    <input type="checkbox" ng-model="trans.IsDelivered" disabled />
                </td>
                <td title="'Edit'" class="text-center">
                    <button type="button" class="btn btn-default " ng-click="editTransaction($index)" >
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
                <td title="'Delete'" class="text-center">
                    <button type="button" class="btn btn-default" ng-click="deleteTransaction($index)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">        
        <button type="button" class="btn btn-primary" ng-click="createTransaction()">
            <i class="fa fa-plus"></i> Add new leasing
        </button>
    </div>

    <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="modalUserLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="submitUserAddOrUpdate()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Register / Edit User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" id="Name" placeholder="Name" ng-model="addOrUpdateUser.Name">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="email" class="form-control" id="Email" placeholder="Email" ng-model="addOrUpdateUser.Email">
                        </div>
                        <div class="form-group">
                            <label for="DateOfBirth">Date of Birth</label>
                            <input type="date" class="form-control" id="DateOfBirth" placeholder="DateOfBirth" ng-model="addOrUpdateUser.DateOfBirth">
                        </div>
                        <div class="form-group">
                            <label for="Phone">Phone</label>
                            <input type="tel" class="form-control" id="Phone" placeholder="Phone" ng-model="addOrUpdateUser.Phone">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="cancelUserAddOrUpdate()">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalUserDelete" tabindex="-1" role="dialog" aria-labelledby="modalUserDeleteLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="cancelUserDelete()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Delete user</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete this user?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" ng-click="cancelUserDelete()">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="submitUserDelete()">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalTrans" tabindex="-1" role="dialog" aria-labelledby="modalTransLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="submitTransactionAddOrUpdate()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Add / Edit Leasing</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <label> name of user</label>
                        </div>
                        <div class="form-group">
                            <label for="BookName">Book Name</label>
                            <input type="text" class="form-control" id="BookName" placeholder="Book Name" ng-model="addOrUpdateTransaction.BookName" />
                        </div>
                        <div class="form-group">
                            <label for="StartDate">Start Date</label>
                            <input type="date" class="form-control" id="StartDate" placeholder="Start Date" ng-model="addOrUpdateTransaction.StartDate" />
                        </div>
                        <div class="form-group">
                            <label for="EndDate">End Date</label>
                            <input type="date" class="form-control" id="EndDate" placeholder="End Date" ng-model="addOrUpdateTransaction.EndDate" />
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" id="IsDelivered" ng-model="addOrUpdateTransaction.IsDelivered"> Delivered
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="cancelTransactionAddOrUpdate()">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalTransDelete" tabindex="-1" role="dialog" aria-labelledby="modalTransDeleteLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="cancelTransactionDelete()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Delete leasing transaction</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete this leasing transaction?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" ng-click="cancelTransactionDelete()">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="submitTransactionDelete()">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>



@section Scripts{
    <link href="~/Content/ng-table.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ng-table.min.js"></script>
    <script src="~/Scripts/app.js"></script>
}

